* {
    margin: 0;
}

html {
    font-family: arial, helvetica, sans-serif;
    background-color: #FEFFE6
}

/* Cabeçalho */

#logo {
    padding-top: 5px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#titulo-cabecalho {
    font-size: 20px;
    padding: 16px;
    text-align: center;
}

/* Menu */

#dropdown-botao {
    font-size: 16px;
    cursor: pointer;
    background-color: #55A85D;
    color: white;
    border: none;
    width: 100%;
    padding: 16px;
}

#dropdown-opcoes {
    display: none;
    background-color: #55A85D;
    color: white;
    width: auto;
    text-align: center;
}

#dropdown-opcoes span {
    padding: 12px 16px;
    display: block;
}

#dropdown-opcoes span:hover {
    background-color: #43864A
}

#menu:hover #dropdown-opcoes {
    display: block;
}

#menu:hover #dropdown-botao {
    background-color: #43864A;
}

/* Corpo */

#corpo {
    padding-bottom: 16px;
    position: relative;
    min-height: 60vh;
}

#aplicacao {
    padding-top: 16px;
    padding-bottom: 16px;
}

#formulario {
    width: auto;
    background-color: #55A85D;
    color: white;
    font-size: 16px;
    padding: 16px;
}

#links {
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
}

#busca {
    font-size: 16px;
    border-radius: 20px;
    border: none;
    width: 80%;
}

#texto {
    font-size: 14px;
    background-color: #55A85D;
    color: white;
    padding: 16px;
    letter-spacing: 2px;
}

/* Rodapé */

#rodape {
    position: relative;
    min-height: 50px;
    background-color: #55A85D;
    color: white;
    padding: 16px;
    text-align: center;
}

footer {
    bottom: 0;
}