* {
    margin: 0;
}

html {
    font-family: arial, helvetica, sans-serif;
    background-color: #FEFFE6;
}

/* Cabeçalho */

#logo {
    padding-top: 5px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#titulo-cabecalho {
    font-size: 20px;
    padding: 16px;
    text-align: center;
}

/* Menu */

#usuario {
    display: none;
}

#fonte {
    display: none;
}

#sair {
    display: none;
}

#acoes {
    font-size: 16px;
    cursor: pointer;
    background-color: #55A85D;
    color: white;
    border: none;
    width: 100%;
    padding: 16px;
}

#opcoes {
    display: none;
    background-color: #55A85D;
    color: white;
    width: auto;
    text-align: center;
}

#opcoes span {
    padding: 12px 16px;
    display: block;
}

#opcoes span:hover {
    background-color: #43864A
}

#menu:hover #opcoes {
    display: block;
}

#menu:hover #acoes {
    background-color: #43864A;
}

/* Corpo */

#corpo {
    padding-bottom: 16px;
    position: relative;
    min-height: 60vh;
}

#aplicacao {
    padding-top: 16px;
    padding-bottom: 16px;
}

#formulario {
    width: auto;
    background-color: #55A85D;
    color: white;
    font-size: 16px;
    padding: 16px;
}

#links {
    list-style-type: none;
    padding-left: 0;
    padding-top: 10px;
}

#busca {
    font-size: 14px;
    border-radius: 20px;
    border: none;
    width: 100%;
    box-shadow: 1px 1px 5px;
    padding: 5px;
}

#texto {
    font-size: 14px;
    background-color: #55A85D;
    color: white;
    padding: 16px;
    letter-spacing: 2px;
}

/* Rodapé */

#rodape {
    position: relative;
    min-height: 50px;
    background-color: #55A85D;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 14px;
}

footer {
    bottom: 0;
}

@media (min-width: 480px) {

    #logo-e-titulo {
        display: flex;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #titulo-cabecalho {
        padding-top: 40px;
    }

    #menu {
        width: 100%;
    }

    #menu:hover #opcoes {
        display: none;
    }

    #acoes {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #usuario {
        display: flex;
        background-color: #55A85D;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 34%;
        padding: 16px;
        text-align: center;
    }

    #fonte {
        display: flex;
        background-color: #55A85D;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 33%;
        padding: 16px;
        text-align: center;
    }

    #sair {
        display: flex;
        background-color: #55A85D;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 33%;
        padding: 16px;
        text-align: center;
    }

}